# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build directories
build/
build*

# Temporary editor files
*.swp
*.orig
*.autosave
*.user
*~

# YCM stuff
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# OSX
.DS_STORE
